In [1]:
import numpy as np
import pandas as pd

In [2]:
# load data
booze = pd.read_csv("drinks.csv")

In [3]:
booze[:10]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7

In [4]:
# Get the largest of each type
booze.apply(lambda x: x.max())

country                         Zimbabwe
beer_servings                        376
spirit_servings                      438
wine_servings                        370
total_litres_of_pure_alcohol        14.4
dtype: object

In [5]:
# What is the favourite drink of a country?
def favourite_drink(x):
    if (x[4] == 0):
        return "Teetotal"
    return booze.columns[np.where(x == x[1:3].max())][0].replace('_servings', '')

In [8]:
# Get Favourites
faves = booze.apply(favourite_drink, axis=1)

In [12]:
# Concatenate to make new dataframe
newbooze = pd.concat((booze, pd.DataFrame({'favourite':faves})), axis=1)

In [15]:
# Select based on our new column
newbooze[newbooze.favourite == 'Teetotal']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,favourite
0,Afghanistan,0,0,0,0.0,Teetotal
13,Bangladesh,0,0,0,0.0,Teetotal
46,North Korea,0,0,0,0.0,Teetotal
79,Iran,0,0,0,0.0,Teetotal
90,Kuwait,0,0,0,0.0,Teetotal
97,Libya,0,0,0,0.0,Teetotal
103,Maldives,0,0,0,0.0,Teetotal
106,Marshall Islands,0,0,0,0.0,Teetotal
107,Mauritania,0,0,0,0.0,Teetotal
111,Monaco,0,0,0,0.0,Teetotal
128,Pakistan,0,0,0,0.0,Teetotal
147,San Marino,0,0,0,0.0,Teetotal
158,Somalia,0,0,0,0.0,Teetotal