In [1]:
import pandas as pd

In [2]:
# load data
booze = pd.read_csv("drinks.csv")

In [3]:
# pretty printing
booze

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
10,Azerbaijan,21,46,5,1.3
11,Bahamas,122,176,51,6.3
12,Bahrain,42,63,7,2.0
13,Bangladesh,0,0,0,0.0
14,Barbados,143,173,36,6.3
15,Belarus,142,373,42,14.4
16,Belgium,295,84,212,10.5
17,Belize,263,114,8,6.8
18,Benin,34,4,13,1.1
19,Bhutan,23,0,0,0.4
20,Bolivia,167,41,8,3.8
21,Bosnia-Herzegovina,76,173,8,4.6
22,Botswana,173,35,35,5.4
23,Brazil,245,145,16,7.2
24,Brunei,31,2,1,0.6
25,Bulgaria,231,252,94,10.3
26,Burkina Faso,25,7,7,4.3
27,Burundi,88,0,0,6.3
28,Cote d'Ivoire,37,1,7,4.0
29,Cabo Verde,144,56,16,4.0
...,...,...,...,...,...
163,Suriname,128,178,7,5.6
164,Swaziland,90,2,2,4.7
165,Sweden,152,60,186,7.2
166,Switzerland,185,100,280,10.2
167,Syria,5,35,16,1.0
168,Tajikistan,2,15,0,0.3
169,Thailand,99,258,1,6.4
170,Macedonia,106,27,86,3.9
171,Timor-Leste,1,1,4,0.1
172,Togo,36,2,19,1.3
173,Tonga,36,21,5,1.1
174,Trinidad & Tobago,197,156,7,6.4
175,Tunisia,51,3,20,1.3
176,Turkey,51,22,7,1.4
177,Turkmenistan,19,71,32,2.2
178,Tuvalu,6,41,9,1.0
179,Uganda,45,9,0,8.3
180,Ukraine,206,237,45,8.9
181,United Arab Emirates,16,135,5,2.8
182,United Kingdom,219,126,195,10.4
183,Tanzania,36,6,1,5.7
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
186,Uzbekistan,25,101,8,2.4
187,Vanuatu,21,18,11,0.9
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [5]:
# series vs. dataframe
print(type(booze.country))

<class 'pandas.core.series.Series'>

In [6]:
# Selecting
booze[booze.country == 'Canada']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
32,Canada,240,122,100,8.2

In [7]:
# Sorting
booze.sort_values(by='beer_servings')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
40,Cook Islands,0,254,74,5.9
79,Iran,0,0,0,0.0
90,Kuwait,0,0,0,0.0
97,Libya,0,0,0,0.0
103,Maldives,0,0,0,0.0
106,Marshall Islands,0,0,0,0.0
111,Monaco,0,0,0,0.0
128,Pakistan,0,0,0,0.0
147,San Marino,0,0,0,0.0
13,Bangladesh,0,0,0,0.0
149,Saudi Arabia,0,5,0,0.1
107,Mauritania,0,0,0,0.0
158,Somalia,0,0,0,0.0
46,North Korea,0,0,0,0.0
137,Qatar,1,42,7,0.9
38,Comoros,1,3,1,0.1
171,Timor-Leste,1,1,4,0.1
73,Haiti,1,326,1,5.9
168,Tajikistan,2,15,0,0.3
123,Niger,3,2,1,0.1
119,Nepal,5,6,0,0.2
116,Myanmar,5,1,0,0.1
167,Syria,5,35,16,1.0
104,Mali,5,1,1,0.6
78,Indonesia,5,1,0,0.1
53,Egypt,6,4,1,0.2
190,Yemen,6,0,0,0.1
86,Jordan,6,21,1,0.5
178,Tuvalu,6,41,9,1.0
...,...,...,...,...,...
76,Iceland,233,61,78,6.6
75,Hungary,234,215,185,11.3
99,Luxembourg,236,133,271,11.4
109,Mexico,238,68,5,5.5
32,Canada,240,122,100,8.2
3,Andorra,245,138,312,12.4
23,Brazil,245,145,16,7.2
141,Russian Federation,247,326,73,11.5
184,USA,249,158,84,8.7
120,Netherlands,251,88,190,9.4
8,Australia,261,72,212,10.4
60,Finland,263,133,97,10.0
17,Belize,263,114,8,6.8
156,Slovenia,270,51,276,10.6
9,Austria,279,75,191,9.7
93,Latvia,281,216,62,10.5
151,Serbia,283,131,127,9.6
160,Spain,284,157,112,10.0
130,Panama,285,104,18,7.2
16,Belgium,295,84,212,10.5
140,Romania,297,122,167,10.4
129,Palau,306,63,23,6.9
81,Ireland,313,118,165,11.4
188,Venezuela,333,100,3,7.7
98,Lithuania,343,244,56,12.9
135,Poland,343,215,56,10.9
65,Germany,346,117,175,11.3
62,Gabon,347,98,59,8.9
45,Czech Republic,361,170,134,11.8
117,Namibia,376,3,1,6.8

In [8]:
# Automatic statistics w/ describe()
booze.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000